$font-family-default: 'Gotham Pro';

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$default: #2c2b31;
$secondary: #37d997;
$dark: #000000;
$light: #ffffff;
$line: #e27500;

$bg-default: #f0f0f0;
$bg-primary: #f19d2f;
$bg-secondary: #ffd1ac;
